<div class="o-media o-media--rev o-media--medium o-media--article">
    <div class="o-media__body col-1of2 medium-col-1of1">
        <div class="text-constrain">
            <perch:content id="c_mediaTextRight" label="Media text right" type="textarea" size="l" editor="tinymce" html="true" />
        </div>
    </div>
    <div class="o-media__img col-1of2 medium-col-1of1">
        <img src="<perch:content type="image" id="c_mediaImageLeft" label="Media image left" />" alt="<perch:content id="c_mediaImageLeftAlt" label="Image alt" type="text" />">
    </div>
</div>