<div class="m-wrapper m-wrapper--constrain">
    <article class="m-article">

        <div class="m-wrapper m-wrapper--shadow">

            <div class="m-article__body m-article__body--fancy">
                <div class="text-constrain h-contains-content-list">
                    <header>
                        <h1><perch:content id="article_title" type="text" label="Article Title" editor="tinymce" html="true" /></h1>
                        <span class="subheading h3"><perch:content id="article_subtitle" type="text" label="Article Sub-Title" editor="tinymce" html="true" /></span>
                    </header>
                    <div class="drop-cap">
                        <perch:content id="article_content" type="textarea" label="Article Content" editor="tinymce" html="true" />
                    </div>
                </div>
            </div>

        </div>

    </article>
</div>