<article class="m-article o-grid o-grid--modern o-grid--equal-cells">

    <div class="o-grid__cell o-grid__cell--fixed-small">

        <div class="o-ratio">
            <div class="o-ratio__size o-ratio__size--square">
                <div class="m-article--date o-ratio__content h-v-align-center-flex">
                    <time class="m-date" datetime="2016-11-05">
                        <span class="m-date">05</span>
                        <span class="m-date">Nov</span>
                        <span class="m-date">2016</span>
                    </time>
                </div>
            </div>
        </div>


        <div class="o-ratio">
            <div class="o-ratio__size o-ratio__size--square">
                <div class="m-back-link o-ratio__content">
                    <a class="m-back-link__link h-v-align-center-flex" href="#"><span class="m-back-link__body"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>back to blog<span></a>
                </div>
            </div>
        </div>

    </div>

    <div class="o-grid__cell">
        <div class="m-wrapper m-wrapper--shadow">

            <div class="m-article--body">
                <div class="text-constrain h-contains-content-list">
                    <header>
                        <h1><perch:content id="blog-title" type="text" label="Blog title" /></perch:content>
                        <span class="m-article__subheading h3"><perch:content id="blog-subtitle" type="text" label="Blog subtitle" /></span>
                    </header>
                    <div class="drop-cap">
                        <perch:content id="blog-article" type="textarea" label="Blog article" html="true" editor="tinymce" />
                    </div>
                    <a class="o-button o-button--flat-pink" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg> Full article</a>
                </div>
            </div>

            <div class="m-article--tags">
                <div class="text-constrain ">
                    <ul class="h-list-reset list-inline">
                        <li><a class="o-button o-button--tiny o-button--flat-grey" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg> Home Page</a></li>
                        <li><a class="o-button o-button--tiny o-button--flat-grey" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg> WordPress Lessons</a></li>
                        <li><a class="o-button o-button--tiny o-button--flat-grey" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg> Getting Started</a></li>
                        <li><a class="o-button o-button--tiny o-button--flat-grey" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg> Working with WordPress</a></li>
                        <li><a class="o-button o-button--tiny o-button--flat-grey" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg> Design and Layout</a></li>
                        <li><a class="o-button o-button--tiny o-button--flat-grey" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg> Advanced Topics</a></li>
                        <li><a class="o-button o-button--tiny o-button--flat-grey" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg> Troubleshooting</a></li>
                        <li><a class="o-button o-button--tiny o-button--flat-grey" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg> Developer Docs</a></li>
                        <li><a class="o-button o-button--tiny o-button--flat-grey" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg> About WordPress</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</article>