<header class="m-masthead">

    <div class="m-masthead__image-box" style="background-image: url(<perch:blog type="image" id="header_image" label="Header Image" />)">

        <div class="m-logo">
            <a href="/"><img src="/public/assets/images/logo.svg" alt="Sjoerd ter Haar" ></a>
        </div>
        <img class="m-masthead__image" src="<perch:blog type="image" id="header_image" label="Header Image" />" alt="">
        <div class="o-overlay o-overlay--fade-in"></div>
    </div>
    <!-- end:m-masthead__image-box -->

</header>
<!-- end:masthead -->