<perch:before>
    <h3 class="h-text-center">Comments</h3>
	<ul class="m-comments">
</perch:before>
		<li class="m-comments__comment o-media o-media--rev" id="comment<perch:blog id="commentID" type="hidden" />">
            <div class="o-media__body">
                <time rel="bookmark" class="m-date m-date--muted m-date--comment" format="datetime="<perch:blog id="commentDateTime" format="Y-m-d H:i:s" type="date" time="true" label="Date" />"><perch:blog id="commentDateTime" format="%d %b %Y %X" type="date" time="true" label="Date" /></time>
                    <perch:if exists="commentURL"><a href="<perch:blog id="commentURL" type="url" label="URL" order="3" />"></perch:if>
                    <perch:blog id="commentName" type="text" label="Name" order="1" required="true" />
                    <perch:if exists="commentURL"></a></perch:if>
                <perch:blog id="commentHTML" encode="false" html="true" type="textarea" label="Message (HTML)" order="4" required="true" />
            </div>
            <figure class="o-media__img o-media__img--avatar">
				<img src="//www.gravatar.com/avatar/<perch:blog id="commentEmail" type="email" label="Email" order="2" hash="md5" required="true" />?s=120&amp;d=mm" />
			</figure>
		</li>
<perch:after>
	</ul>

</perch:after>