/***
    [#BREAKPOINTS]
***/
/*
    Change breakpoints -> or / and
*/
//$sb-bp__large:     68.750em; // Small desktop to large desktop
//$sb-bp__medium:    50em; // Portrait tablet to landscape tablet
//$sb-bp__small:     30em; // Portrait mobile to landscape mobile

/*
    -> Set array containing all breakpoints in descending order, these will be used
    to create the media-queries to set the width of your grid columns.

    $sb-bps: (
        classname: breakpoint,
    );
*/

$sb-bp__x-large:   95em;
$sb-bp__large:     65em; // Small desktop to large desktop
$sb-bp__medium:    60em; // Portrait tablet to landscape tablet
$sb-bp__small:     45em; // Portrait mobile to landscape mobile

$sb-bps: (
    x-large: $sb-bp__x-large,
    large: $sb-bp__large,
    medium: $sb-bp__medium,
    small: $sb-bp__small
);