@charset "UTF-8";
/**
 * CONTENTS
 *
 * FRAMEWORK
 *
 * MODULES
 * Flex-grid............Flexbox grid.
 * Header...............The site header.
 * Logo.................The site logo.
 * Sidebar..............The sidebar.
 * Wrappers.............Wrappers.
 *
 * OBJECTS
 * Nav..................The main navigation.
 * Icons................Icons.
 *
 * STATES
 *
 * THEME
 * Hoteliers............Hoteliers theme.
 *
 * UTILITY
 */
/**
 *
 * Import framework
 *
**/
/***

    Uncomment and change value to overwrite default values

***/
/***
    [#BASELINE]
    Documentation -> addon/baseline
***/
/* Set (body copy) font-size */
/* Set baseline (= $sb-fontsize * $sb-lineheight) height for vertical rhythm */
/*------------------------------------*    DEFAULTS
\*------------------------------------*/
/**
 * Default variables. Redefine these in your `_config.scss` file to override them.
 */
/***
    TYPE
***/
/*
    TYPE SCALE

    This determines the exponential growth of the font-size as seen on
    http://type-scale.com/
*/
/*
    Set default ratio used throughout project
*/
/***
    GRID
***/
/*  Set default number of columns used in grid */
/***
    WIDTHS & BREAKPOINTS
***/
/*
    Define breakpoints for responsive
*/
/*
    Set array containing all breakpoints in descending order, these will be used
    to create the media-queries to set the width of your grid columns.
*/
/***
    COMPONENTS
***/
/***
    @font-face
***/
/***
    CUSTOM Z-INDEX
***/
/*------------------------------------*    #IMAGES
\*------------------------------------*/
/**
 * Fluid images.
 */
img {
  max-width: 100%;
}

/**
 * FROM INUIT CSS
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
/***
    MEDIA QUERY

    min-width and max-width:
    @include media($sb-breakpoint__small, $sb-breakpoint__large) {
      color: red;
    }

    min-width
    @include media($sb-breakpoint__small, null) {
      color: red;
    }

    max-width
    @include media(null, $sb-breakpoint__large) {
      color: red;
    }
***/
/***
    CENTER VERTICALLY

    .element {
        @include vertical-align();
    }

***/
/***
    CENTER HORIZONTALLY

    .element {
        @include horizontal-align();
    }

***/
/***
    calculate padding-bottom for aspect ratio

    .element {
        @include ratio(4, 3);
    }
***/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/**
 * Delete margin from figure
 */
figure {
  margin: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*------------------------------------*    $RESET
\*------------------------------------*/
/**
 * BASE FROM INUIT CSS
 * A more considered reset; more of a restart...
 * As per: csswizardry.com/2011/10/reset-restarted
 */
/**
* Let’s make the box model all nice, shall we...?
*/
*, *:before, *:after {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * The usual...
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title], dfn[title] {
  cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
u, ins {
  text-decoration: none;
}

/**
 * Apply faux underline via `border-bottom`.
 */
ins {
  border-bottom: 1px solid;
}

/**
 * So that `alt` text is visually offset if images don’t load.
 */
img {
  font-style: italic;
}

/**
 * Give form elements some cursor interactions...
 */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer;
}

.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}

/***
    [#BREAKPOINTS]
***/
/*
    Change breakpoints -> or / and
*/
/*
    -> Set array containing all breakpoints in descending order, these will be used
    to create the media-queries to set the width of your grid columns.

    $sb-breakpoints: (
        classname: breakpoint,
    );
*/
/*
    Embed font-families

$path: ../../fonts/avenir/;

$font-families: (
  arial__normal: (
    style-name: arial__style,
    path: $path,
    folder: arial,
    file-name: arial__file--normal,
    font-weight: normal,
    font-style: normal
  ),
  arial__bold: (
    style-name: arial__style,
    path: $path,
    folder: arial,
    file-name: arial__file--bold,
    font-weight: bold,
    font-style: normal
  ),
  arial__italic: (
    style-name: arial__style,
    path: $path,
    folder: arial,
    file-name: arial__file--italic,
    font-weight: normal,
    font-style: italic
  ),
  georgia__italic: (
    style-name: georgia__style,
    path: $path,
    folder: georgia,
    file-name: georgia__file--italic,
    font-weight: normal,
    font-style: italic
  )
);
*/
/*

<fonts>
<font displayName="Proxima Nova W01 Thin Regular" psName="ProximaNovaW01-Thin" FamilyName="Proxima Nova" FontWeight="100" FontStyle="normal" FontStretch="normal" CssFamilyName="Proxima Nova W01" woff="da176885-bee9-49f7-88f0-d7ad9229ddd7.woff" eot="37994fca-b67e-41db-94b3-44077c62810a.eot" ttf="1861a7b7-09a5-4efd-b681-5214784ded39.ttf" svg="610147b3-ad15-4b4b-a0fb-25244238ab3d.svg" woff2="0583e751-caca-4cd8-af81-71b2aa5ddbbb.woff2"/>
<font displayName="Proxima Nova W01 Thin Italic" psName="ProximaNovaW01-ThinIt" FamilyName="Proxima Nova" FontWeight="100" FontStyle="italic" FontStretch="normal" CssFamilyName="Proxima Nova W01" woff="953888b2-ac05-4781-acd8-eefab4804344.woff" eot="eba46937-62d2-4fa0-b06b-3b195ec3b81e.eot" ttf="cd88eeb4-8553-4cba-a792-65670225b71a.ttf" svg="4b497920-c95a-44e8-9877-7a1d7ad3dc9b.svg" woff2="7179129f-41a3-4e40-9065-ab5ca5a4e436.woff2"/>
<font displayName="Proxima Nova W01 Semibold" psName="ProximaNovaW01-Semibold" FamilyName="Proxima Nova" FontWeight="400" FontStyle="normal" FontStretch="normal" CssFamilyName="Proxima Nova W01" woff="70ae52ec-d89b-4c6a-9402-854ebe423c54.woff" eot="87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot" ttf="6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf" svg="ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg" woff2="ae47a7f5-89da-4879-b934-29722c3dd451.woff2"/>
<font displayName="Proxima Nova W01 Semibold Italic" psName="ProximaNovaW01-SemiboldIt" FamilyName="Proxima Nova" FontWeight="400" FontStyle="italic" FontStretch="normal" CssFamilyName="Proxima Nova W01" woff="d2a02f92-9826-4117-ae36-8fcfd72ad46e.woff" eot="06ebb3e2-5f11-4e26-8736-0f7acb3c7743.eot" ttf="d786d7d1-696a-47f9-9d03-7608fcb29cc4.ttf" svg="e7fe23f1-b364-4a20-905a-86ed7e89efae.svg" woff2="df119bf8-cb81-4373-9682-6054d9dd0770.woff2"/>
<font displayName="Baskerville W01 Italic" psName="BaskervilleW01-Italic" FamilyName="Baskerville" FontWeight="400" FontStyle="italic" FontStretch="normal" CssFamilyName="L Baskerville W01" woff="11514d41-5158-4a68-8f27-9202cc7fc001.woff" eot="f0bf387a-6de1-402c-a63c-04664681e924.eot" ttf="b62c4ed0-7687-4a1b-840d-00a34f2d16a2.ttf" svg="ede983d0-3356-4a76-956b-4131479e2d55.svg" woff2="ed8ac168-5be2-4127-b1b2-976a1a017786.woff2"/>
</fonts>

*/
/***
    [#GRID]
    Documentation -> components/grid

    Set number of columns used in grid, smaller $grid-end = less lines of css.
    $grid-start should remain 1 in most cases.
***/
/***
    [#COMPONENTS]
***/
/***
    [#TYPE SCALE]
    Documentation -> addon/typography

    Set exponential growth / shrinkage of <h1> & .h1 through <h6> & .h6
    and
    growth of: .deca, .hecto, .kilo, .mega, .giga, .tera.
    and
    shrinkage of: .deci, .centi, .milli, .micro, .nano, .pico

    Suggested values:
    minor-second: 1.067;
    major-second: 1.125;
    minor-third: 1.2;
    major-third: 1.25;
    perfect-fourth: 1.333;
    augmented-fourth: 1.414;
    perfect-fifth: 1.5;
    golden-ratio: 1.618;
***/
/***
    [#Z-INDEX]
    Documentation -> addons/zindex
***/
/***
    BASELINE

    Setup baseline and spacing units for vertical & horizontal rhythm.
    For h1 through h6 (and other textelements) you can use
    $sb-fontsize * x.5 $sb-baseline, if rounded values are too big or small.

    EG:
    h2 {
        line-height: $sb-baseline * 2.5;
    }

***/
/*
    Set default font-size
*/
/*
    Set default line-height
*/
/*
    Calculate baseline (= spacing unit for margins and paddings) from default
    font-size and default line-height
*/
/***
    CLEAR FIX

    Clear floats for parent element
***/
.cf:after, .o-grid--classic:after, .text-constrain:after, .list-inline:after {
  content: "";
  display: table;
  clear: both;
}

/*
 *
 */
/*
    lists
*/
.h-list-reset {
  list-style: none;
}

/*
    circle
*/
.h-circle {
  border-radius: 50%;
}

/*
    Use to style lists inside basic content
*/
.h-contains-content-list ul,
.h-contains-content-list ol {
  margin-bottom: 1.96rem;
  margin-left: 1.96rem;
}

.h-contains-content-list ul {
  list-style: disc;
}

.h-contains-content-list ol {
  list-style: decimal;
}

/*
    Positions
*/
.h-pos-static {
  position: static;
}

.h-pos-absolute {
  position: absolute;
}

.h-pos-relative {
  position: relative;
}

.h-pos-fixed {
  position: fixed;
}

.h-v-align-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.h-v-align-center-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

/*
    Add framework based padding
*/
.h-soft-poles {
  padding-top: 1.96rem;
  padding-bottom: 1.96rem;
}

.h-soft-sides {
  padding-right: 1.96rem;
  padding-left: 1.96rem;
}

/*
    Text alignments
*/
.h-text-left {
  text-align: left;
}

.h-text-center {
  text-align: center;
}

.h-text-right {
  text-align: right;
}

/*
    White space
*/
.h-nowrap {
  white-space: nowrap;
}

/*------------------------------------*    STATES
\*------------------------------------*/
.h-shown {
  display: block !important;
}

.h-hidden {
  display: none !important;
}

.h-shown {
  display: block !important;
}

@media only screen and (max-width: 45em) {
  .h-show-small {
    display: block !important;
  }
}

@media only screen and (max-width: 45em) {
  .h-hidden-small {
    display: none !important;
  }
}

/*
    Calculate header sizes and create classes similair to header tags.
    EG
    <h1> -> .h1
*/
/*  Calculate header font-size using $sb-fontsize & $sb-ratio,
    also set default margin-bottom of al headers to $sb-baseline (because it's
    easy) */
h5, .h5 {
  font-size: 1.05026rem;
  margin-bottom: 1.96rem;
}

h6, .h6 {
  font-size: 0.78789rem;
  margin-bottom: 1.96rem;
}

h4, .h4 {
  font-size: 1.4rem;
  margin-bottom: 1.96rem;
}

h3, .h3 {
  font-size: 1.8662rem;
  margin-bottom: 1.96rem;
}

h2, .h2 {
  font-size: 2.48764rem;
  margin-bottom: 1.96rem;
}

h1, .h1 {
  font-size: 3.31603rem;
  margin-bottom: 1.96rem;
}

/*
    Get classnames for bigger than bodyfont based on metric
    system, ascending: .deca, .hecto, .kilo, .mega, .giga, .tera.
*/
.deca {
  font-size: 1.8662rem;
}

.hecto, .o-button--huge {
  font-size: 2.48764rem;
}

.kilo {
  font-size: 3.31603rem;
}

.mega {
  font-size: 4.42027rem;
}

.giga {
  font-size: 5.89222rem;
}

.tera {
  font-size: 7.85433rem;
}

/*
    Get classnames for smaller than bodyfont based on metric
    system, descending: .deci, .centi, .milli, .micro, .nano, .pico
*/
.deci {
  font-size: 1.05026rem;
}

.centi {
  font-size: 0.78789rem;
}

.milli {
  font-size: 0.59107rem;
}

.micro {
  font-size: 0.44341rem;
}

.nano {
  font-size: 0.33264rem;
}

.pico {
  font-size: 0.24954rem;
}

/*
    Remove padding from all <p> that are last child
*/
p {
  margin-bottom: 1.96rem;
}

p:last-child {
  margin-bottom: 0;
}

/*
    Drop cap
*/
.drop-cap > p:first-child:first-letter {
  float: left;
  line-height: 3.92rem;
  font-size: 4.2rem;
  margin-right: 2px;
}

/*
    First line emphasis
*/
.first-line-em > p:first-child:first-line {
  font-weight: bold;
}

/*
    Set quotes
*/
q,
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before,
blockquote:before {
  content: open-quote;
}

q:after,
blockquote:after {
  content: close-quote;
}

/*------------------------------------*    $WIDTHS
\*------------------------------------*/
/**
 *
 */
.col-1of1 {
  width: 100%;
}

.col-1of2 {
  width: 50%;
}

.col-1of3 {
  width: 33.33333%;
}

.col-2of3 {
  width: 66.66667%;
}

.col-1of4 {
  width: 25%;
}

.col-2of4 {
  width: 50%;
}

.col-3of4 {
  width: 75%;
}

.col-1of5 {
  width: 20%;
}

.col-2of5 {
  width: 40%;
}

.col-3of5 {
  width: 60%;
}

.col-4of5 {
  width: 80%;
}

.col-1of6 {
  width: 16.66667%;
}

.col-2of6 {
  width: 33.33333%;
}

.col-3of6 {
  width: 50%;
}

.col-4of6 {
  width: 66.66667%;
}

.col-5of6 {
  width: 83.33333%;
}

.col-1of7 {
  width: 14.28571%;
}

.col-2of7 {
  width: 28.57143%;
}

.col-3of7 {
  width: 42.85714%;
}

.col-4of7 {
  width: 57.14286%;
}

.col-5of7 {
  width: 71.42857%;
}

.col-6of7 {
  width: 85.71429%;
}

.col-1of8 {
  width: 12.5%;
}

.col-2of8 {
  width: 25%;
}

.col-3of8 {
  width: 37.5%;
}

.col-4of8 {
  width: 50%;
}

.col-5of8 {
  width: 62.5%;
}

.col-6of8 {
  width: 75%;
}

.col-7of8 {
  width: 87.5%;
}

.col-1of9 {
  width: 11.11111%;
}

.col-2of9 {
  width: 22.22222%;
}

.col-3of9 {
  width: 33.33333%;
}

.col-4of9 {
  width: 44.44444%;
}

.col-5of9 {
  width: 55.55556%;
}

.col-6of9 {
  width: 66.66667%;
}

.col-7of9 {
  width: 77.77778%;
}

.col-8of9 {
  width: 88.88889%;
}

@media (max-width: 95em) {
  .x-large-col-1of1 {
    width: 100%;
  }
  .x-large-col-1of2 {
    width: 50%;
  }
  .x-large-col-1of3 {
    width: 33.33333%;
  }
  .x-large-col-2of3 {
    width: 66.66667%;
  }
  .x-large-col-1of4 {
    width: 25%;
  }
  .x-large-col-2of4 {
    width: 50%;
  }
  .x-large-col-3of4 {
    width: 75%;
  }
  .x-large-col-1of5 {
    width: 20%;
  }
  .x-large-col-2of5 {
    width: 40%;
  }
  .x-large-col-3of5 {
    width: 60%;
  }
  .x-large-col-4of5 {
    width: 80%;
  }
  .x-large-col-1of6 {
    width: 16.66667%;
  }
  .x-large-col-2of6 {
    width: 33.33333%;
  }
  .x-large-col-3of6 {
    width: 50%;
  }
  .x-large-col-4of6 {
    width: 66.66667%;
  }
  .x-large-col-5of6 {
    width: 83.33333%;
  }
  .x-large-col-1of7 {
    width: 14.28571%;
  }
  .x-large-col-2of7 {
    width: 28.57143%;
  }
  .x-large-col-3of7 {
    width: 42.85714%;
  }
  .x-large-col-4of7 {
    width: 57.14286%;
  }
  .x-large-col-5of7 {
    width: 71.42857%;
  }
  .x-large-col-6of7 {
    width: 85.71429%;
  }
  .x-large-col-1of8 {
    width: 12.5%;
  }
  .x-large-col-2of8 {
    width: 25%;
  }
  .x-large-col-3of8 {
    width: 37.5%;
  }
  .x-large-col-4of8 {
    width: 50%;
  }
  .x-large-col-5of8 {
    width: 62.5%;
  }
  .x-large-col-6of8 {
    width: 75%;
  }
  .x-large-col-7of8 {
    width: 87.5%;
  }
  .x-large-col-1of9 {
    width: 11.11111%;
  }
  .x-large-col-2of9 {
    width: 22.22222%;
  }
  .x-large-col-3of9 {
    width: 33.33333%;
  }
  .x-large-col-4of9 {
    width: 44.44444%;
  }
  .x-large-col-5of9 {
    width: 55.55556%;
  }
  .x-large-col-6of9 {
    width: 66.66667%;
  }
  .x-large-col-7of9 {
    width: 77.77778%;
  }
  .x-large-col-8of9 {
    width: 88.88889%;
  }
}

@media (max-width: 65em) {
  .large-col-1of1 {
    width: 100%;
  }
  .large-col-1of2 {
    width: 50%;
  }
  .large-col-1of3 {
    width: 33.33333%;
  }
  .large-col-2of3 {
    width: 66.66667%;
  }
  .large-col-1of4 {
    width: 25%;
  }
  .large-col-2of4 {
    width: 50%;
  }
  .large-col-3of4 {
    width: 75%;
  }
  .large-col-1of5 {
    width: 20%;
  }
  .large-col-2of5 {
    width: 40%;
  }
  .large-col-3of5 {
    width: 60%;
  }
  .large-col-4of5 {
    width: 80%;
  }
  .large-col-1of6 {
    width: 16.66667%;
  }
  .large-col-2of6 {
    width: 33.33333%;
  }
  .large-col-3of6 {
    width: 50%;
  }
  .large-col-4of6 {
    width: 66.66667%;
  }
  .large-col-5of6 {
    width: 83.33333%;
  }
  .large-col-1of7 {
    width: 14.28571%;
  }
  .large-col-2of7 {
    width: 28.57143%;
  }
  .large-col-3of7 {
    width: 42.85714%;
  }
  .large-col-4of7 {
    width: 57.14286%;
  }
  .large-col-5of7 {
    width: 71.42857%;
  }
  .large-col-6of7 {
    width: 85.71429%;
  }
  .large-col-1of8 {
    width: 12.5%;
  }
  .large-col-2of8 {
    width: 25%;
  }
  .large-col-3of8 {
    width: 37.5%;
  }
  .large-col-4of8 {
    width: 50%;
  }
  .large-col-5of8 {
    width: 62.5%;
  }
  .large-col-6of8 {
    width: 75%;
  }
  .large-col-7of8 {
    width: 87.5%;
  }
  .large-col-1of9 {
    width: 11.11111%;
  }
  .large-col-2of9 {
    width: 22.22222%;
  }
  .large-col-3of9 {
    width: 33.33333%;
  }
  .large-col-4of9 {
    width: 44.44444%;
  }
  .large-col-5of9 {
    width: 55.55556%;
  }
  .large-col-6of9 {
    width: 66.66667%;
  }
  .large-col-7of9 {
    width: 77.77778%;
  }
  .large-col-8of9 {
    width: 88.88889%;
  }
}

@media (max-width: 55em) {
  .medium-col-1of1 {
    width: 100%;
  }
  .medium-col-1of2 {
    width: 50%;
  }
  .medium-col-1of3 {
    width: 33.33333%;
  }
  .medium-col-2of3 {
    width: 66.66667%;
  }
  .medium-col-1of4 {
    width: 25%;
  }
  .medium-col-2of4 {
    width: 50%;
  }
  .medium-col-3of4 {
    width: 75%;
  }
  .medium-col-1of5 {
    width: 20%;
  }
  .medium-col-2of5 {
    width: 40%;
  }
  .medium-col-3of5 {
    width: 60%;
  }
  .medium-col-4of5 {
    width: 80%;
  }
  .medium-col-1of6 {
    width: 16.66667%;
  }
  .medium-col-2of6 {
    width: 33.33333%;
  }
  .medium-col-3of6 {
    width: 50%;
  }
  .medium-col-4of6 {
    width: 66.66667%;
  }
  .medium-col-5of6 {
    width: 83.33333%;
  }
  .medium-col-1of7 {
    width: 14.28571%;
  }
  .medium-col-2of7 {
    width: 28.57143%;
  }
  .medium-col-3of7 {
    width: 42.85714%;
  }
  .medium-col-4of7 {
    width: 57.14286%;
  }
  .medium-col-5of7 {
    width: 71.42857%;
  }
  .medium-col-6of7 {
    width: 85.71429%;
  }
  .medium-col-1of8 {
    width: 12.5%;
  }
  .medium-col-2of8 {
    width: 25%;
  }
  .medium-col-3of8 {
    width: 37.5%;
  }
  .medium-col-4of8 {
    width: 50%;
  }
  .medium-col-5of8 {
    width: 62.5%;
  }
  .medium-col-6of8 {
    width: 75%;
  }
  .medium-col-7of8 {
    width: 87.5%;
  }
  .medium-col-1of9 {
    width: 11.11111%;
  }
  .medium-col-2of9 {
    width: 22.22222%;
  }
  .medium-col-3of9 {
    width: 33.33333%;
  }
  .medium-col-4of9 {
    width: 44.44444%;
  }
  .medium-col-5of9 {
    width: 55.55556%;
  }
  .medium-col-6of9 {
    width: 66.66667%;
  }
  .medium-col-7of9 {
    width: 77.77778%;
  }
  .medium-col-8of9 {
    width: 88.88889%;
  }
}

@media (max-width: 45em) {
  .small-col-1of1 {
    width: 100%;
  }
  .small-col-1of2 {
    width: 50%;
  }
  .small-col-1of3 {
    width: 33.33333%;
  }
  .small-col-2of3 {
    width: 66.66667%;
  }
  .small-col-1of4 {
    width: 25%;
  }
  .small-col-2of4 {
    width: 50%;
  }
  .small-col-3of4 {
    width: 75%;
  }
  .small-col-1of5 {
    width: 20%;
  }
  .small-col-2of5 {
    width: 40%;
  }
  .small-col-3of5 {
    width: 60%;
  }
  .small-col-4of5 {
    width: 80%;
  }
  .small-col-1of6 {
    width: 16.66667%;
  }
  .small-col-2of6 {
    width: 33.33333%;
  }
  .small-col-3of6 {
    width: 50%;
  }
  .small-col-4of6 {
    width: 66.66667%;
  }
  .small-col-5of6 {
    width: 83.33333%;
  }
  .small-col-1of7 {
    width: 14.28571%;
  }
  .small-col-2of7 {
    width: 28.57143%;
  }
  .small-col-3of7 {
    width: 42.85714%;
  }
  .small-col-4of7 {
    width: 57.14286%;
  }
  .small-col-5of7 {
    width: 71.42857%;
  }
  .small-col-6of7 {
    width: 85.71429%;
  }
  .small-col-1of8 {
    width: 12.5%;
  }
  .small-col-2of8 {
    width: 25%;
  }
  .small-col-3of8 {
    width: 37.5%;
  }
  .small-col-4of8 {
    width: 50%;
  }
  .small-col-5of8 {
    width: 62.5%;
  }
  .small-col-6of8 {
    width: 75%;
  }
  .small-col-7of8 {
    width: 87.5%;
  }
  .small-col-1of9 {
    width: 11.11111%;
  }
  .small-col-2of9 {
    width: 22.22222%;
  }
  .small-col-3of9 {
    width: 33.33333%;
  }
  .small-col-4of9 {
    width: 44.44444%;
  }
  .small-col-5of9 {
    width: 55.55556%;
  }
  .small-col-6of9 {
    width: 66.66667%;
  }
  .small-col-7of9 {
    width: 77.77778%;
  }
  .small-col-8of9 {
    width: 88.88889%;
  }
}

/*
*  z-index: z("modal");
*/
.o-breadcrumb {
  margin-bottom: 1.96rem;
  list-style: none;
  font-size: 1rem;
  white-space: nowrap;
}

@media (max-width: 45em) {
  .o-breadcrumb {
    white-space: normal;
  }
}

.o-breadcrumb li {
  display: inline;
}

.o-breadcrumb__name {
  text-decoration: underline;
}

.o-breadcrumb__name--active {
  font-weight: normal;
  text-decoration: none;
  cursor: default;
}

/***
    [#BUTTONS]
***/
.o-button {
  display: inline-block;
  padding: 0.98rem 0.98rem;
  outline: none;
  border: 0;
  border-radius: 3px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  color: inherit;
  transition: all .25s ease;
}

.o-button--disabled {
  cursor: text;
  opacity: 0.75;
}

.o-button--disabled:hover {
  box-shadow: none !important;
}

.o-button--fancy:hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
}

.o-button--fancy:active {
  box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.5);
}

.o-button--tiny {
  line-height: 1;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.o-button--big {
  line-height: 3.92rem;
}

.o-button--huge {
  line-height: 5.88rem;
}

.o-button--full {
  width: 100%;
}

.o-button--stand-alone {
  display: block;
  clear: both;
}

.o-button--pill {
  border-radius: 1000px;
}

.o-button--sharp {
  border-radius: 0;
}

.o-button--evolve {
  font-size: inherit;
  line-height: inherit;
}

.o-grid--gutter {
  margin-left: -1.96rem;
}

.o-grid--gutter.o-grid--modern > .o-grid__cell {
  margin-left: 1.96rem;
}

.o-grid--gutter.o-grid--classic > .o-grid__cell {
  padding-left: 1.96rem;
}

.o-grid--modern {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.o-grid--modern.o-grid--equal-cells .o-grid__cell {
  -ms-flex: 1;
      flex: 1;
}

.o-grid--modern .o-grid__cell--flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: stretch;
      align-items: stretch;
}

@media only screen and (max-width: 45em) {
  .o-grid--modern-vertical-small {
    -ms-flex-direction: column;
        flex-direction: column;
    margin-left: 0;
  }
  .o-grid--modern-vertical-small .o-grid__cell {
    margin-left: 0;
    margin-bottom: 1.96rem;
  }
  .o-grid--modern-vertical-small .o-grid__cell:last-child {
    margin-bottom: 0;
  }
}

.o-grid--classic > .o-grid__cell {
  float: left;
}

/*------------------------------------*    $o-media
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-o-media-object-saves-hundreds-of-lines-of-code
 * E.g.:
 *

    @TODO

 *
 */
.o-media {
  display: -ms-flexbox;
  display: flex;
}

.o-media--center {
  -ms-flex-align: center;
      align-items: center;
}

/**
 * Reversed image location (left instead of right).
 */
.o-media--rev {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.o-media--rev .o-media__body {
  padding-right: 0;
  padding-left: 0.98rem;
}

.o-media--rev .o-media__img {
  padding-right: 0.98rem;
  padding-left: 0;
}

.o-media--stacked {
  -ms-flex-direction: column;
      flex-direction: column;
}

.o-media--stacked .o-media__body {
  padding: 1.96rem;
}

.o-media--stacked .o-media__img {
  padding: 0;
}

.o-media--stacked-rev {
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}

.o-media__body {
  padding-right: 0.98rem;
}

> .o-media__body:last-child {
  margin-bottom: 0;
}

.o-media__img {
  padding-left: 0.98rem;
}

.o-media__img img {
  width: 100%;
}

.o-nav {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  margin-left: 0;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  list-style: none;
}

.o-nav__link {
  display: block;
  padding: 0.98rem;
  text-decoration: none;
  transition: all 0.25s;
}

.o-nav--vertical {
  -ms-flex-direction: column;
      flex-direction: column;
}

.o-nav--center {
  -ms-flex-pack: center;
      justify-content: center;
}

.o-nav--left {
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.o-nav--right {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

/*------------------------------------*    $o-overlay
\*------------------------------------*/
/**
    Put an element on top of another element along z-axis.

    Default position bottom and full-width.

    <div class="o-overlay">
        <img src="http://www.placecage.com/1000/1414">
        <div class="o-overlay__layer">

        </div>
    </div>

*/
.o-overlay {
  position: relative;
  height: 100%;
  width: 100%;
}

.o-overlay__layer {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.96rem;
}

.o-overlay__layer--top {
  top: 0;
  bottom: auto;
}

/**
    Use overlay as click area

    <div class="o-overlay">
        <img src="http://www.placecage.com/1000/1414">
        <a class="o-overlay__layer o-overlay__layer--area" href="#">
            <span class="o-overlay__click-area-text">Read more ></span>
        </a>
    </div>

*/
.o-overlay__layer--click-area {
  top: 0;
  padding: 0;
  cursor: pointer;
}

.o-overlay__click-area-text {
  margin-left: -9999em;
}

/*

<div class="o-ratio">
    <div class="o-ratio__size o-ratio__size--golden">
        <div class="o-ratio__content">
            <img src="http://www.placecage.com/1000/1414">
        </div>
    </div>
</div>

*/
.o-ratio {
  width: 100%;
}

.o-ratio__size {
  position: relative;
  width: 100%;
}

.o-ratio__size--1-1,
.o-ratio__size--square {
  padding-bottom: 100%;
}

.o-ratio__size--4-3 {
  padding-bottom: 75%;
}

.o-ratio__size--16-9 {
  padding-bottom: 56.25%;
}

.o-ratio__size--21-9 {
  padding-bottom: 42.85714%;
}

.o-ratio__size--golden {
  padding-bottom: 61.8047%;
}

.o-ratio__size--iso-a-landscape {
  padding-bottom: 70.71136%;
}

.o-ratio__size--iso-a-portrait {
  padding-bottom: 141.42%;
}

.o-ratio__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.o-ratio__content--cirlce {
  border-radius: 50%;
  background: white;
}

.o-ratio__media {
  width: 100%;
}

/*
*   http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/

x-dark
dark *
mid-dark
base (default)
mid-light
light *
x-light

a {
    color: palette(purple);
    &:hover {
        color: palette(purple, light);
    }
}

*/
html {
  font-size: 100%;
}

@media only screen and (max-width: 45em) {
  html {
    font-size: 85%;
  }
}

body {
  font-family: Roboto, arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.96rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: Cardo, tahoma, serif;
}

h1--body-font, .h1--body-font,
h2--body-font, .h2--body-font,
h3--body-font, .h3--body-font,
h4--body-font, .h4--body-font,
h5--body-font, .h5--body-font,
h6--body-font, .h6--body-font {
  font-family: Roboto, arial, sans-serif;
}

h1--dia-pos, .h1--dia-pos,
h2--dia-pos, .h2--dia-pos,
h3--dia-pos, .h3--dia-pos,
h4--dia-pos, .h4--dia-pos,
h5--dia-pos, .h5--dia-pos,
h6--dia-pos, .h6--dia-pos {
  color: white;
}

h1--dia-neg, .h1--dia-neg,
h2--dia-neg, .h2--dia-neg,
h3--dia-neg, .h3--dia-neg,
h4--dia-neg, .h4--dia-neg,
h5--dia-neg, .h5--dia-neg,
h6--dia-neg, .h6--dia-neg {
  color: #333333;
}

h1, .h1,
h2, .h2 {
  text-align: center;
}

.tera,
.giga,
.mega,
.kilo,
.hecto,
.o-button--huge,
.deca,
.base {
  font-family: Cardo, tahoma, serif;
  font-weight: normal;
}

.tera--sub,
.giga--sub,
.mega--sub,
.kilo--sub,
.hecto--sub,
.deca--sub,
.base--sub {
  font-weight: normal;
}

h1, .h1, .tera {
  line-height: 3.92rem;
}

h2, .h2, .giga {
  line-height: 3.92rem;
}

h3, .h3, .mega {
  line-height: 2.45rem;
}

h4, .h4, .kilo {
  line-height: 2.45rem;
}

h5, .h5, .hecto, .o-button--huge {
  line-height: 3.92rem;
}

h6, .h6, .deca {
  line-height: 2.94rem;
}

/*
    constrain text width:
    "Robert Bringhurst puts a good measure at somewhere between 45 and 75 characters."
    http://www.smashingmagazine.com/2011/11/29/the-perfect-paragraph/
*/
.text-constrain {
  margin-right: auto;
  margin-left: auto;
  max-width: 40rem;
}

/*
    Drop cap
*/
.drop-cap > p:first-child:first-letter {
  color: #ff179b;
}

blockquote {
  position: relative;
  margin: 1.96rem 1.96rem 1.96rem 3.92rem;
  padding: 1.96rem;
  border: 1px solid #e5e5e5;
  border-left: 10px solid #14bccc;
  font-style: italic;
  font-size: 1.2rem;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

blockquote:before {
  position: absolute;
  left: -3.92rem;
  font-size: 5rem;
  color: #14bccc;
}

blockquote:after {
  display: none;
}

.subheading {
  display: block;
  margin-bottom: 1.96rem;
  text-align: center;
  color: #7f7f7f;
}

/**
 *
 * Import non-framework and framework modifiers
 *
**/
.m-article {
  margin-bottom: 1.96rem;
}

.m-article--body {
  padding: 1.96rem;
  border-left: 5px solid #ff179b;
  background: white;
}

.m-article--date {
  padding-right: 1.96rem;
  padding-left: 1.96rem;
  color: white;
  background: #ff179b;
}

.m-article--tags {
  padding: 0.98rem 1.96rem;
  font-size: 1rem;
  background: #ffc517;
}

.m-back-link {
  background: #14bccc;
}

.m-back-link__link {
  height: 100%;
  padding-right: 1.96rem;
  padding-left: 1.96rem;
  text-decoration: none;
  color: white;
}

.m-back-link__link:hover {
  color: white;
  background: rgba(255, 255, 255, 0.2);
}

.m-back-link__body {
  display: block;
}

.m-code {
  margin-bottom: 1.96rem;
  font-size: 1.1rem;
  color: white;
  border-radius: 3px;
  background: #262626;
}

.m-date {
  display: block;
  font-family: 'Roboto Mono', monospace;
  white-space: nowrap;
  text-transform: uppercase;
}

.m-date--muted {
  color: #b2b2b2;
  font-size: 1rem;
}

.m-date__item {
  display: inline-block;
}

.m-date__item--sinlge-line {
  display: block;
}

.m-date__month {
  display: block;
}

.m-date__day {
  display: block;
}

.m-footer {
  padding: 1.96rem;
  color: white;
  background: #4c4c4c;
}

.m-logo {
  animation: colorchange 50s infinite;
  position: absolute;
  top: 1.96rem;
  left: 1.96rem;
  width: 10rem;
  padding: 0.98rem;
}

.m-logo img {
  width: 100%;
  vertical-align: top;
  display: block;
}

@keyframes colorchange {
  0% {
    background: #ff179b;
  }
  25% {
    background: #14bccc;
  }
  50% {
    background: #ffc517;
  }
  75% {
    background: #B2FF17;
  }
  100% {
    background: #ff179b;
  }
}

.m-masthead {
  height: 45vh;
  margin-bottom: 1.96rem;
  overflow: hidden;
  background: white;
}

.m-masthead--small {
  height: 75vh;
}

.m-masthead--placeholder {
  height: 175px;
  min-height: auto;
}

.m-masthead__image-box {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.m-masthead__image {
  display: none !important;
}

.m-svg-icon-white path {
  fill: white;
}

.m-svg-icon-arrow {
  display: block;
  width: 60%;
  margin: auto;
}

.m-svg-icon-arrow--down {
  transform: rotate(180deg);
}

.m-svg-icon-social {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
}

.m-svg-icon-social path {
  fill: white;
}

.m-svg-icon-inline {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.m-svg-icon-inline path {
  fill: currentColor;
}

.m-wrapper {
  width: 100%;
  margin: auto;
}

.m-wrapper--constrain {
  max-width: 1300px;
}

.m-wrapper--push-up {
  margin-top: -3.92rem;
}

.m-wrapper--soft-sides {
  padding-right: 1.96rem;
  padding-left: 1.96rem;
}

.m-wrapper--shadow {
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.o-button--centered {
  margin: auto;
}

.o-button--flat-blue {
  color: #14bccc !important;
}

.o-button--flat-blue:hover {
  color: #14bccc !important;
  background: rgba(20, 188, 204, 0.25) !important;
}

.o-button--flat-blue:active {
  color: white !important;
  background: #14bccc !important;
}

.o-button--flat-pink {
  color: #ff179b !important;
}

.o-button--flat-pink:hover {
  color: #ff179b !important;
  background: rgba(255, 23, 155, 0.25) !important;
}

.o-button--flat-pink:active {
  color: white !important;
  background: #ff179b !important;
}

.o-button--flat-orange {
  color: #ffc517 !important;
}

.o-button--flat-orange:hover {
  color: #ffc517 !important;
  background: rgba(255, 197, 23, 0.25) !important;
}

.o-button--flat-orange:active {
  color: white !important;
  background: #ffc517 !important;
}

.o-button--flat-white {
  color: white;
}

.o-button--flat-white:hover {
  color: white;
  background: rgba(255, 255, 255, 0.25);
}

.o-button--flat-white:active {
  color: #4c4c4c;
  background: white;
}

.o-button--flat-grey {
  color: #4c4c4c;
}

.o-button--flat-grey:hover {
  color: #4c4c4c;
  background: rgba(76, 76, 76, 0.25);
}

.o-button--flat-grey:active {
  color: white;
  background: #4c4c4c;
}

.o-grid--push-down {
  margin-bottom: 1.96rem;
}

.o-grid__cell--fixed-small {
  min-width: 9rem;
  max-width: 9rem;
}

.o-grid__cell--ui {
  padding: 1.96rem;
  border-left: 5px solid;
  background: white;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.o-grid__cell--ui-pink {
  border-color: #ff179b;
}

.o-grid__cell--ui-pink a {
  color: #ff179b;
}

.o-grid__cell--ui-pink a:hover {
  color: #b00064;
}

.o-grid__cell--ui-blue {
  border-color: #14bccc;
}

.o-grid__cell--ui-blue a {
  color: #14bccc;
}

.o-grid__cell--ui-blue a:hover {
  color: #0b666f;
}

.o-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  letter-spacing: 1px;
}

@media only screen and (max-width: 45em) {
  .o-nav {
    padding: 0;
  }
}

.o-nav__link {
  color: white;
}

.o-nav__link:hover,
.o-nav__link--set-active {
  background: #ffc517;
  color: #252424;
}

.o-nav--main {
  position: relative;
  animation: appearUp .25s ease-in-out;
}

@media only screen and (max-width: 45em) {
  .o-nav--main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
        align-items: stretch;
    position: fixed;
    z-index: 8000;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.35), 0 0 2px 0 rgba(0, 0, 0, 0.55);
  }
}

.o-nav--main .o-nav__link {
  padding: 1.96rem 0.98rem;
  color: #4c4c4c !important;
}

.o-nav--main .o-nav__link:hover {
  background: rgba(89, 86, 87, 0.8);
}

@media only screen and (min-width: 45em) and (max-width: 65em) {
  .o-nav--main .o-nav__link {
    padding: 1.96rem 0.49rem;
  }
}

.o-overlay--fade-in {
  position: static;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 50%);
}

body {
  background: #e5e5e5;
  color: #4c4c4c;
}

@media only screen and (max-width: 45em) {
  body:after {
    content: "bp-small";
    display: none;
  }
}

@media only screen and (min-width: 45em) {
  body:after {
    content: "bp-up-from-small";
    display: none;
  }
}

a {
  color: #ff179b;
  text-decoration: none;
}

a:hover, a:active {
  color: #b00064;
}

::-moz-selection {
  background: #ff179b;
  color: white;
}

::selection {
  background: #ff179b;
  color: white;
}

.contrast-light {
  background: #f8f0e8;
}

.list-inline > li {
  float: left;
}

.block-list {
  margin-bottom: 1.96rem;
  list-style: none;
}

.block-list li {
  display: block;
  padding: 0.98rem 1.96rem;
  border-bottom: 1px solid #b2b2b2;
}

.block-list a {
  display: block;
  margin-bottom: 0;
}

.test-box--responsive:before {
  color: white;
}

@media (max-width: 65em) {
  .test-box--responsive:before {
    content: "Large";
    background: blue;
  }
}

@media (max-width: 55em) {
  .test-box--responsive:before {
    content: "Medium";
    background: green;
  }
}

@media (max-width: 45em) {
  .test-box--responsive:before {
    content: "Small";
    background: red;
  }
}

.test-box {
  padding: 1.96rem;
  text-align: center;
  border-radius: 0.25rem;
  background: yellow;
}
