
<perch:before>
    <nav>
        <ul class="o-nav o-nav--center">
    </perch:before>
            <li<perch:if exists="ancestor_page"> class="ancestor"</perch:if>>
                <a class="o-nav__link <perch:if exists="current_page">o-nav__link--set-active</perch:if>" href="<perch:pages id="pagePath" />"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg><perch:pages id="pageNavText" /></a>

            </li>
    <perch:after>
        </ul>
    </nav>
</perch:after>

<!--<nav>-->

        <!--<li><perch:content id="activePage" /></li>-->
        <!--<li><a class="o-nav__link o-nav__link&#45;&#45;set-active" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>Web dev.</a></li>-->
        <!--<li><a class="o-nav__link" href="#"><svg class="m-svg-icon-inline" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>Cycling</a></li>-->
    <!--</ul>-->
<!--</nav>-->