@charset "UTF-8";



/**
 * CONTENTS
 *
 * FRAMEWORK
 *
 * MODULES
 * Flex-grid............Flexbox grid.
 * Header...............The site header.
 * Logo.................The site logo.
 * Sidebar..............The sidebar.
 * Wrappers.............Wrappers.
 *
 * OBJECTS
 * Nav..................The main navigation.
 * Icons................Icons.
 *
 * STATES
 *
 * THEME
 * Hoteliers............Hoteliers theme.
 *
 * UTILITY
 */





/**
 *
 * Import framework
 *
**/

@import "config";

@import "framework/spine/defaults";
@import "framework/spine/images";
@import "framework/spine/mixins";
@import "framework/spine/normalize";
@import "framework/spine/reset";

@import "framework/config/breakpoints";
@import "framework/config/fonts";
@import "framework/config/gridwidths";
@import "framework/config/objects";
@import "framework/config/typescale";
@import "framework/config/zindex";

@import "framework/addons/baseline";
@import "framework/addons/cf";
@import "framework/addons/font-face";
@import "framework/addons/helpers";
@import "framework/addons/typography";
@import "framework/addons/widths";
@import "framework/addons/zindex";

//@import "framework/objects/baselinegrid";
@import "framework/objects/breadcrumb";
@import "framework/objects/buttons";
//@import "framework/objects/flag-icon";
//@import "framework/objects/forms";
@import "framework/objects/grid";
//@import "framework/objects/link-complex";
//@import "framework/objects/media";
@import "framework/objects/nav";
//@import "framework/objects/notification-box";
@import "framework/objects/overlay";
@import "framework/objects/ratio";

// Framework
@import "ui/framework/colors";
@import "ui/framework/typography";

/**
 *
 * Import non-framework and framework modifiers
 *
**/

// Lib
//@import "lib/dropdown";
//@import "lib/datepicker";
//@import "lib/dlmenu";
//@import "lib/slick";

// Objects


// Modules
@import "modules/article";
@import "modules/back-link";
//@import "modules/blocks";
@import "modules/code";
//@import "modules/company";
@import "modules/date";
//@import "modules/filter";
@import "modules/footer";
//@import "modules/form";
@import "modules/logo";
//@import "modules/maps";
//@import "modules/members";
@import "modules/masthead";
//@import "modules/price-table";
//@import "modules/quotes";
//@import "modules/quickbooker";
//@import "modules/nav-touch";
//@import "modules/products";
//@import "modules/read-more";
//@import "modules/scroll-down";
//@import "modules/social";
@import "modules/svg-icons";
//@import "modules/search-suggestions";
//@import "modules/social-feed";
//@import "modules/svg-icon";
@import "modules/wrapper";
//@import "modules/utility-bar";

// States


// Utility


// Theme

// Import UI

    // Lib
    //@import "ui/lib/dropdown";
    //@import "ui/lib/datepicker";
    ////@import "ui/lib/slick";
    //
    //// Objects
    //@import "ui/objects/breadcrumb";
    @import "ui/objects/buttons";
    ////@import "ui/objects/caption";
    ////@import "ui/objects/click-box";
    ////@import "ui/objects/drawer";
    //@import "ui/objects/fancybox";
    //@import "ui/objects/forms";
    @import "ui/objects/grid";
    //@import "ui/objects/media";
    @import "ui/objects/nav";
    @import "ui/objects/overlay";
    //@import "ui/objects/ratio";
    //
    //// Modules
    //
    //
    //// Misc
    @import "ui/page";
    //@import "ui/links";
    @import "ui/lists";
    //@import "ui/logos";
    //@import "animations";
    //
    //// Import IE fixes @ bottom
    //@import "ui/ie-fix";

.test-box--responsive {
    &:before{
        color: white;
        @media (max-width: $sb-breakpoint__large) {
            content: "Large";
            background: blue;
        }
        @media (max-width: $sb-breakpoint__medium) {
            content: "Medium";
            background: green;
        }
        @media (max-width: $sb-breakpoint__small) {
            content: "Small";
            background: red;
        }
    }
}


.test-box {
    padding: $sb-baseline;
    text-align: center;
    border-radius: 0.25rem;
    background: yellow;
}
