.o-button--fancy {
    &:hover {
        box-shadow: $base-shadow;
        transform: scale(1.05);
    }
    &:active {
        box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.15), inset 0 6px 4px 0 rgba(0, 0, 0, 0.25);
        transform: scale(1);
    }
}

.o-button--centered {
	margin: auto;
}

// flat buttons
.o-button--flat-blue {
    color: palette(brand-blue) !important;

    &:hover
    {
        color: palette(brand-blue) !important;
        background: rgba(palette(brand-blue), 0.25) !important;
    }
    &:active
    {
        color: white !important;
        background: palette(brand-blue) !important;
    }
}

.o-button--flat-pink {
    color: palette(brand-pink) !important;

    &:hover
    {
        color: palette(brand-pink) !important;
        background: rgba(palette(brand-pink), 0.25) !important;
    }
    &:active
    {
        color: white !important;
        background: palette(brand-pink) !important;
    }
}

.o-button--flat-orange {
    color: palette(brand-orange) !important;

    &:hover
    {
        color: palette(brand-orange) !important;
        background: rgba(palette(brand-orange), 0.25) !important;
    }
    &:active
    {
        color: white !important;
        background: palette(brand-orange) !important;
    }
}

.o-button--flat-white {
    color: white;

    &:hover
    {
        color: white;
        background: rgba(white, 0.25);
    }
    &:active
    {
        color: palette(grey, dark);
        background: white;
    }
}

.o-button--flat-grey {
    color: palette(grey, dark);

    &:hover
    {
        color: palette(grey, dark);
        background: rgba(palette(grey, dark), 0.25);
    }
    &:active
    {
        color: white;
        background: palette(grey, dark);
    }
}

//solid buttons
.o-button--solid-blue {
    color: white;
    background: palette(brand-blue) !important;

    //&:hover
    //{
    //    color: palette(brand-blue) !important;
    //    background: rgba(palette(brand-blue), 0.25) !important;
    //}
    //&:active
    //{
    //    color: white !important;
    //    background: palette(brand-blue) !important;
    //}
}