.o-pull-quote {
    position: relative;

    margin-left: $sb-baseline*2;

    border: 1px solid palette(grey, x-light);
    border-left: 10px solid palette(brand-blue);

    border-radius: $sb-border-radius;
    box-shadow: $base-shadow;
}

    .o-pull-quote__body {
        &:before {
            position: absolute;
            left: -$sb-baseline*2;

            font-size: 5rem;
            color: palette(brand-blue);
        }
        &:after {
            display: none;
        }
    }