.m-article {
    margin-bottom: $sb-baseline;
}

    .m-article__body {
        padding: $sb-baseline;
    }

    .m-article__body--hard-small {
        @include media(null, $sb-bp__small){
            padding: 0;
        }
    }

    .m-article__body--fancy {
        border-left: 5px solid palette(brand-pink);

        background: white;
    }

    .m-article--date {
        padding-right: $sb-baseline;
        padding-left: $sb-baseline;

        color: white;

        @include media(null, $sb-bp__small) {
            padding: $sb-baseline / 2;
        }
    }

    .m-article--tags {
        padding: $sb-baseline/2 $sb-baseline;

        font-size: 1rem;

        background: palette(brand-orange);
    }