.m-back-link {

}

    .m-back-link__link {
        height: 100%;
        padding-right: $sb-baseline;
        padding-left: $sb-baseline;
        text-decoration: none;
        color: white;

        @include media(null, $sb-bp__small) {
            padding: $sb-baseline / 2;
        }

        &:hover {
            color: white;
            background: rgba(white, 0.2);
        }
    }

    .m-back-link__body {
        display: block;
    }