.m-date {
    display: block;

    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
    text-transform: uppercase;
}

.m-date--muted {
    color: palette(grey, light);
    font-size: 1rem;
}

.m-date--post {
    @include media(null, $sb-bp__small) {
        display: inline-block;
    }
}

.m-date--comment {
    border-bottom: 1px solid palette(brand-grey, x-light);
}