.m-progress-label {
    display: block;
    position: absolute;
    right: $sb-baseline / 2;

    width: 100%;
    max-width: 100px;
    padding: $sb-baseline / 2;

    font-family: 'Roboto Mono', monospace;
    text-align: center;

    background: palette(brand-orange);
    border-radius: $sb-border-radius;
    //box-shadow: 0 0 2px rgba(black, 0.3);

    &:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(213, 158, 30, 0);
        border-left-color: palette(brand-orange);
        border-width: 10px;
        margin-top: -10px;
    }
}

.m-progress-label--start {
    position: static;
}

.m-progress-label--one-quarter {
    top: 25%;
}

.m-progress-label--one-half {
    top: 50%;
}

.m-progress-label--three-quarters {
    top: 75%;
}

.m-progress-label--finish {
    bottom: 0;
}