.m-wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.m-wrapper--constrain {
    max-width: $max-page-width;
}

.m-wrapper--push-up {
    margin-top: -$sb-baseline*2;
}

.m-wrapper--soft-sides {
    padding-right: $sb-baseline;
    padding-left: $sb-baseline;

    @include media(null, $sb-bp__small) {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.m-wrapper--shadow {
    box-shadow: $base-shadow;
}
